altgraph==0.17.4
cassandra-driver==3.29.2
cffi==1.16.0
click==8.1.7
cryptography==44.0.2
Cython==0.29.37
geomet==0.2.1.post1
importlib_metadata==8.0.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
keyring==25.2.1
keyrings.alt==5.0.1
macholib==1.16.3
more-itertools==10.2.0
packaging==24.0
pyasynchat==1.0.4
pyasyncore==1.0.4
pycparser==2.22
pycryptodome==3.19.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pytz==2022.7.1
SecretStorage==3.3.3
setuptools==70.3.0
wheel==0.43.0
zipp==3.19.2
pyreadline3
wcwidth
json_repair